/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#navbar {
    background-color: #FFFFFF;
}

#navbar a {
    color: #444444;
    font-weight: bold;
    margin: 10px 0;
}

#navbar a:hover {
    color: #888888;
};

#navbar li.active a {
    color: red;
}

#navbar .active a {
    color: white;
    text-shadow: none;
    background-color: #AAAAAA;
    border-radius: 0;
    box-shadow: none;
}

table tr th {
    color: #888888;
}

.btn {
    color: #666666 !important;
    text-shadow: none !important;
    border-radius: 0 !important;
    background-color: initial !important;
    border: solid 1px #C8C8C8 !important;
    box-shadow: none !important;
    background-image: none !important;
}

.btn-primary {
    background-color: #AAFFAA !important;
}

.btn-danger {
    background-color: #FFAAAA !important;
}

.row-fluid {
    margin-bottom: 20px;
}

.form-title {
    margin: 50px 0 30px 180px;
    color: #888888;
}

.form-actions {
    background-color: initial !important;
    border: 0 !important;
}
