/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#navbar {
    background-color: #CCF0FF;
    border-bottom: solid 1px #A5C3E0;
}

#navbar a {
    color: #444466;
    text-shadow: 2px 2px 1px #A5C3E0;
    font-weight: bold;
    margin: 5px 0;
}

#navbar a:hover {
    color: #333388;
};

#navbar li.active a {
    color: red;
}

#navbar .active a {
    color: white;
    text-shadow: none;
    background-color: #2B63AA;
}
