table.map td.active {
  border: 1px solid #D0D0D0
}

#option-container {
  width: 240px;
  height: 600px;
  background-color: lightgray;
  float: left;
  padding: 10px;
}

.map-name {
  font-size: 8px;
}

td a {
  display: block;
  height: 100%;
  width: 100%;
}

td a:hover {
  background-color: initial;
}
