// Place all the styles related to the Metrics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#loading {
    display: inline;

    img {
        height: 30px;
    }
}

.metric-checkbox {
    display: block;
    margin: 10px 0;
}

.btn-mini {
    width: 50px;
}
